@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: Arial, Helvetica, sans-serif;
}

@layer base {
  :root {
    --background: 0 0% 100%;
    --foreground: 224 71.4% 4.1%;
    --card: 0 0% 100%;
    --card-foreground: 224 71.4% 4.1%;
    --popover: 0 0% 100%;
    --popover-foreground: 224 71.4% 4.1%;
    --primary: 220.9 39.3% 11%;
    --primary-foreground: 210 20% 98%;
    --secondary: 220 14.3% 95.9%;
    --secondary-foreground: 220.9 39.3% 11%;
    --muted: 220 14.3% 95.9%;
    --muted-foreground: 220 8.9% 46.1%;
    --accent: 220 14.3% 95.9%;
    --accent-foreground: 220.9 39.3% 11%;
    --destructive: 0 84.2% 60.2%;
    --destructive-foreground: 210 20% 98%;
    --border: 220 13% 91%;
    --input: 220 13% 91%;
    --ring: 224 71.4% 4.1%;
    --chart-1: 12 76% 61%;
    --chart-2: 173 58% 39%;
    --chart-3: 197 37% 24%;
    --chart-4: 43 74% 66%;
    --chart-5: 27 87% 67%;
    --radius: 0.5rem;
    --sidebar-background: 0 0% 98%;
    --sidebar-foreground: 240 5.3% 26.1%;
    --sidebar-primary: 240 5.9% 10%;
    --sidebar-primary-foreground: 0 0% 98%;
    --sidebar-accent: 240 4.8% 95.9%;
    --sidebar-accent-foreground: 240 5.9% 10%;
    --sidebar-border: 220 13% 91%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --rosewater: 10.8 58.824% 66.667%; /* #dc8a78 */
    --flamingo: 0 59.763% 66.863%; /* #dd7878 */
    --pink: 316.034 73.418% 69.02%; /* #ea76cb */
    --mauve: 266.044 85.047% 58.039%; /* #8839ef */
    --red: 347.077 86.667% 44.118%; /* #d20f39 */
    --maroon: 354.783 76.303% 58.627%; /* #e64553 */
    --peach: 21.975 99.184% 51.961%; /* #fe640b */
    --yellow: 34.948 76.984% 49.412%; /* #df8e1d */
    --green: 109.231 57.635% 39.804%; /* #40a02b */
    --teal: 183.231 73.864% 34.51%; /* #179299 */
    --sky: 197.067 96.567% 45.686%; /* #04a5e5 */
    --sapphire: 188.859 69.953% 41.765%; /* #209fb5 */
    --blue: 219.907 91.489% 53.922%; /* #1e66f5 */
    --lavender: 230.935 97.203% 71.961%; /* #7287fd */
    --text: 233.793 16.022% 35.49%; /* #4c4f69 */
    --subtext1: 233.333 12.796% 41.373%; /* #5c5f77 */
    --subtext0: 232.8 10.373% 47.255%; /* #6c6f85 */
    --overlay2: 232.174 9.623% 53.137%; /* #7c7f93 */
    --overlay1: 231.429 10.048% 59.02%; /* #8c8fa1 */
    --overlay0: 228 11.236% 65.098%; /* #9ca0b0 */
    --surface2: 226.667 12.162% 70.98%; /* #acb0be */
    --surface1: 225 13.559% 76.863%; /* #bcc0cc */
    --surface0: 222.857 15.909% 82.745%; /* #ccd0da */
    --base: 220 23.077% 94.902%; /* #eff1f5 */
    --mantle: 220 21.951% 91.961%; /* #e6e9ef */
    --crust: 220 20.69% 88.627%; /* #dce0e8 */
  }
  .dark {
    --background: 224 71.4% 4.1%;
    --foreground: 210 20% 98%;
    --card: 224 71.4% 4.1%;
    --card-foreground: 210 20% 98%;
    --popover: 224 71.4% 4.1%;
    --popover-foreground: 210 20% 98%;
    --primary: 210 20% 98%;
    --primary-foreground: 220.9 39.3% 11%;
    --secondary: 215 27.9% 16.9%;
    --secondary-foreground: 210 20% 98%;
    --muted: 215 27.9% 16.9%;
    --muted-foreground: 217.9 10.6% 64.9%;
    --accent: 215 27.9% 16.9%;
    --accent-foreground: 210 20% 98%;
    --destructive: 0 62.8% 30.6%;
    --destructive-foreground: 210 20% 98%;
    --border: 215 27.9% 16.9%;
    --input: 215 27.9% 16.9%;
    --ring: 216 12.2% 83.9%;
    --chart-1: 220 70% 50%;
    --chart-2: 160 60% 45%;
    --chart-3: 30 80% 55%;
    --chart-4: 280 65% 60%;
    --chart-5: 340 75% 55%;
    --sidebar-background: 240 5.9% 10%;
    --sidebar-foreground: 240 4.8% 95.9%;
    --sidebar-primary: 224.3 76.3% 48%;
    --sidebar-primary-foreground: 0 0% 100%;
    --sidebar-accent: 240 3.7% 15.9%;
    --sidebar-accent-foreground: 240 4.8% 95.9%;
    --sidebar-border: 240 3.7% 15.9%;
    --sidebar-ring: 217.2 91.2% 59.8%;
    --rosewater: 9.6 55.556% 91.176%; /* #f5e0dc */
    --flamingo: 0 58.73% 87.647%; /* #f2cdcd */
    --pink: 316.471 71.831% 86.078%; /* #f5c2e7 */
    --mauve: 267.407 83.505% 80.98%; /* #cba6f7 */
    --red: 343.269 81.25% 74.902%; /* #f38ba8 */
    --maroon: 350.4 65.217% 77.451%; /* #eba0ac */
    --peach: 22.957 92% 75.49%; /* #fab387 */
    --yellow: 41.351 86.047% 83.137%; /* #f9e2af */
    --green: 115.455 54.098% 76.078%; /* #a6e3a1 */
    --teal: 170 57.353% 73.333%; /* #94e2d5 */
    --sky: 189.184 71.014% 72.941%; /* #89dceb */
    --sapphire: 198.5 75.949% 69.02%; /* #74c7ec */
    --blue: 217.168 91.87% 75.882%; /* #89b4fa */
    --lavender: 231.892 97.368% 85.098%; /* #b4befe */
    --text: 226.154 63.934% 88.039%; /* #cdd6f4 */
    --subtext1: 226.667 35.294% 80%; /* #bac2de */
    --subtext0: 227.647 23.611% 71.765%; /* #a6adc8 */
    --overlay2: 228.387 16.757% 63.725%; /* #9399b2 */
    --overlay1: 229.655 12.775% 55.49%; /* #7f849c */
    --overlay0: 230.769 10.744% 47.451%; /* #6c7086 */
    --surface2: 232.5 12% 39.216%; /* #585b70 */
    --surface1: 234.286 13.208% 31.176%; /* #45475a */
    --surface0: 236.842 16.239% 22.941%; /* #313244 */
    --base: 240 21.053% 14.902%; /* #1e1e2e */
    --mantle: 240 21.311% 11.961%; /* #181825 */
    --crust: 240 22.727% 8.627%; /* #11111b */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
